.product-container {
    display: inline-flex;
    flex-direction: column;    

    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}